body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: rgb(13, 13, 13);
  color: rgb(218, 218, 218);
  text-align: center;
}

.header-section {
  width: 800px;
}

.header-title {
  font-size: 3rem;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border: 2px solid rgb(218, 218, 218);
  height: 400px;
  padding: 10px;
}

.item-title {
  font-size: 2.4rem;
  margin-top: 30px;
}

.item-price {
  font-size: 2em;
}

.item-button {
  color: rgb(13, 13, 13);
  background-color: rgb(218, 218, 218);
  padding: 10px 20px;
  border: none;
  max-width: 90px;
  margin: auto;
}

.important-item {
  height: 430px;
  background-color: rgb(218, 218, 218);
  color: rgb(13, 13, 13);
  position: relative;
}

.important-item::before {
  content: "";
  width: 93%;
  height: 95%;
  position: absolute;
  border: 5px solid rgb(13, 13, 13);
  left: 2%;
}

.important-item::after {
  content: "most popular";
  color: rgb(218, 218, 218);
  background-color: rgb(13, 13, 13);
  min-width: 80px;
  font-size: 13px;
  padding: 3px 6px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
}

.important-button {
  color: rgb(218, 218, 218);
  background-color: rgb(13, 13, 13);
}
.main-item:first-child {
  border-right: none;
}

.main-item:last-child {
  border-left: none;
}
